@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: #d4d6b9;
  color: #383b53;
  padding: 1em;
}

header,
footer {
  padding: 2em;
  color: #d1caa1;
  background-color: #32213a;
  flex-shrink: 0;
}

footer {
  text-align: center;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: #d1caa1;
}

footer a:focus,
footer a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Chango", sans-serif;
}
